@{
    ViewBag.Title = "Home Page";
}

@*BANNER 1*@
<div id="logocontainer" class="container">
    <img src="~/images/weddingtonLogo.jpg" />
</div>
<div id="page" class="container">
    <div id="content">
        <div class="title">
            <h2>Helping you get started on the next chapter of life</h2>
            <span class="byline">For the DIY at heart, we exist to help you make your dream wedding a reality. Look below for more resources!</span>
        </div>
    </div>
    <div id="sidebar"><a href="#" class="image image-full"><img src="~/images/frontpagewedding.jpg" alt="" /></a></div>
</div>



@*BANNER 2*@
<div id="portfolio-wrapper">
    <div id="portfolio" class="container">
        <div class="major">
            <h2>Congrats on your engagement!</h2>
            <span class="byline">Now What?</span>
        </div>
        <div>
            <a>
                <img src="~/images/directions.jpg" />
            </a>
            <div class="box">
                <p>Sign Up Now!</p>
                <a href="#" class="button">REGISTER</a>
            </div>
        </div>
    </div>
</div>




@*BANNER 3*@
<div id="contact" class="container">
    <div class="major">
        <h2>Get in touch</h2>
        <span class="byline">We'd love to say hi on social media!</span>
    </div>
    <ul class="contact">
        <li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
        <li><a href="#" class="icon icon-facebook"><span></span></a></li>
        <li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
        <li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
        <li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
    </ul>
</div>
